body {
    padding-top: 0;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 480px;
   
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.info-panel{
    
}
.info-instruction{
    margin-top:50px;
}
.info-candidate{
    margin-top:50px;
}
.info-timer{
    margin-top:50px;
}
.info-start{
    margin-top:10px;
}
.info-selector{
    margin-top:50px;
}
.pagination{
    margin:0px;

}
#post{
    /*margin-bottom:1.9em;*/
   
}
.progress{
    color:green;
}
.panel-heading{
    font-size:24px;
}
.sep{
    border-top:1px solid #c2c1c1;
}
.optionlist .radio label,.optionlist .checkbox label{
    font-weight:bolder;
    font-size:18px;
    


}
.optionlist input[type=radio],.optionlist input[type=checkbox]{
width:18px;
    height:18px;
    
}

.optionlist label{
    /*color:red;*/
    margin-left:20px;
    padding:5px;
}

.modulebox{
    padding:20px;
    margin-right:5px;
    margin-left:5px;
    margin-top:5px;
    margin-bottom:5px;
    background-color:#f6e484;
    min-width:200px;
}
#header{
    padding-bottom:20px;
    height:60px;
}

.login #header{
    padding-bottom:20px;
    padding-top:20px;
    /*height:60px;*/
}
.colMS{
    margin-right:0;
}
.modulename{
    font-weight:bolder;
}
.collapse{
    /*display:block;*/
}


#content-related1{
    background-color: #f8f8f8;
    margin-right:20px;
    /*margin-top:70px;*/
    padding:10px;
}

.appheader{
    padding:10px;
    /*padding-bottom:10px;*/
    font-weight:bold;
}

 .borderstyle{
            /*border:groove 3px #f6f5f5;*/
           -webkit-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.44);
-moz-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.44);
box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.44);
        }

.module1 h2{
    padding:16px;
    border-bottom:1px solid #c2c1c1;
    font-size:18px;
}

.module1 h3{
    padding:16px;
    font-weight:bold;
    font-size:14px;
}
.module1 .actionlist li{
    padding-left:10px;
    margin-bottom:10px;
}
.dashboard{
    padding-top:0;
}

.submit-row a.deletelink {
    height:35px;
}



/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}


.navbar{
    background-color:#417690;
    color:#ffc;
}
#site-name{
    color:#ffc;
}
.navbar-default .navbar-nav > li > a{
    color:#fff;
}