{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />

<script src="{% static 'app/scripts/adminjs.js' %}"></script>


{% endblock %}


{% block contentstyle %} class="container"{% endblock %}
{% block containerid %} class="container1"{% endblock %}
{% block headerstyle %}


 <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <a id="site-name" class="navbar-brand" href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               
                <div id="user-tools" >
                <ul class="nav navbar-nav navbar-right">
                   
                   
                    {% block usertools %}
            {% if has_permission %}
            
                {% block welcome-msg %}
                    <li style="padding-top:15px">
                {% trans 'Welcome,' %}
                <b>{% firstof user.get_short_name user.get_username %}</b>.
                {% endblock %}
                    </li>
                {% block userlinks %}
                {% if site_url %}
                <li ><a href="{{ site_url }}">{% trans 'View site' %}</a> </li>
                {% endif %}
                {% if user.is_active and user.is_staff %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                <li> <a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li> 
                {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
                {% endblock %}</ul>
            </div>
            {% endif %}
            {% endblock %}


                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


{% endblock %}

{% block coltype %}colMS1{% endblock %}
{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% block containerstyle %} class="container-fluid" {% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content_title %}<h1>Admin DashBoard</h1>{% endblock %}



    <div class="row">
       
        {% block content %}
        <div class="col-xs-12 col-sm-8">
            <div id="content-main">
                {% if app_list %}

                {% for app in app_list reversed %}

                <div class="row app-{{ app.app_label }} module">

                    <div style="background-color:#79aec8;" class="appheader">
                        <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{app.name}}</a>
                    </div>
                    {% for model in app.models %}
                    <div class="col-xs-6  col-sm-4 col-md-3 modulebox model-{{ model.object_name|lower }}">
                        {% if model.admin_url %}
                        <div class="modulename" scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></div>
                        {% else %}
                        <div class="modulename" scope="row">{{ model.name }}</div>
                        {% endif %}
                        {% if model.add_url %}
                        <div><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></div>
                        {% else %}
                        <div>&nbsp;</div>
                        {% endif %}
                        {% if model.admin_url %}
                        <div><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></div>
                        {% else %}
                        <div>&nbsp;</div>
                        {% endif %}
                    </div>
                    {% endfor %}

                </div>
                {% endfor %}
                {% else %}
                <p>{% trans "You don't have permission to edit anything." %}</p>
                {% endif %}
            </div><div class="clear"></div>
        </div>

        {% endblock %}

         {% block sidebar %}
        <div class="col-xs-12 col-sm-4 ">
            <div id="content-related1">

                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="/static/app/images/fxlogic2.png" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{request.user}}
                        </div>
                        <div class="profile-usertitle-job">
                            ADMINISTRATOR
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <a href="http://localhost:8080/admin/auth/user/{{reguest.user}}/change/" class="btn btn-success btn-sm" style="color:white">Profile</a>
                        <a href="/admin/logout/" class="btn btn-danger btn-sm" style="color:white">LogOut</a>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a href="http://localhost:8080/admin">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="http://localhost:8080/admin/app/">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    CBT Core
                                </a>
                            </li>
                            <li>
                                <a href="http://localhost:8080/admin/auth/">
                                    <i class="glyphicon glyphicon-user"></i>
                                    User Management
                                </a>
                            </li>
                            <li>
                                <a href="http://localhost:8080/admin/admin/logentry/">
                                    <i class="glyphicon glyphicon-flag"></i>
                                    History
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>

            </div>
        </div>

        {% endblock %}
    </div>
