{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron" style="background-color:darkseagreen">
    <h1>CBT Exams</h1>
    <p class="lead">Welcome to fxSoftLogix CBT Exam Platform.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start An Exam</h2>
        <p>
            Django gives you a powerful, patt                                                                                                         erns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>
            {% if  user.is_authenticated %}
            <a class="btn btn-primary" href="{%url 'boardpage' %}">Begin &raquo;</a>
            {% else %}
            <a class="btn btn-default" href="{%url 'boardpage' %}">Begin &raquo;</a>
            {% endif%}
        </p>
    </div>
    <div class="col-md-4">
        <h2>Check Scores</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="{%url 'result' %}">Begin &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register For An Exam</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Begin &raquo;</a></p>
    </div>
</div>

{% endblock %}
